body{
   background:url(https://i.pinimg.com/564x/b9/ff/2f/b9ff2f1a1b6ece0bfbf927132ce73f3c.jpg) no-repeat center center/cover;
   
}

.secao1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-inline:  100px ;
    
   
    
}
h1{
    text-align: center;
    font-family: "Allura", cursive;
    font-size: 50px;
    color: rgb(52, 36, 15);
    font-weight: 1px;
    background-color: rgb(169, 133, 89);
}

h2{
    font-family: "Great Vibes", cursive;
  font-size: 40px;
}

.apresentacao{
    display: flex;
    width: 100%;
    border: 3px solid rgb(169, 133, 89);
    border-radius:10px ;
    background-color: rgb(222, 178, 124);
    margin: 60px;
}
.apresentacao h1{
    text-align: center;
    font-family: "Allura", cursive;
    font-size: 50px;
    color: rgb(52, 36, 15);
    font-weight: 1px;
align-items: center;   
}

.apresentacao img{
    width: 300px;
     border-radius: 30px;
    border: 3px solid rgb(139, 109, 73);
    padding: 4px;
    background-color: rgb(169, 133, 89);

    
    
}

.apresentacao h2{
    text-align: center;
 color: rgb(94, 65, 27);

 
}



.secao2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-inline:  100px ;
    
   
    
}
.momentos{
    display: flex;
    width: 100%;
    margin: 60px;
    flex-wrap:wrap ;
  

}
.momentos video{
    border-radius: 30px;
    border: 10px solid rgb(139, 109, 73);
    width: 500px;
    height: 500px;
    opacity: 0.8;
}
.momentos img {
    border-radius: 30px;
    width: 700px;
    height: 500px;
    border: 10px solid rgb(139, 109, 73);
    padding: 4px;
    background-color: rgb(169, 133, 89);
    opacity: 0.85;
    margin: 10px;
}
.momentos h2{
    text-align: center;
    background-color: rgb(169, 133, 89);
    opacity: 0.85;
    
}

.cinePraia{
    display:flex;
}
.cinePraia2{
    margin: 50px;

}
.namoDança{
    display: flex;
    
    
    
}
.namoDança2{
    margin: 50px;
}
.treino{
    display: flex;
    margin-inline: 200px;
   
}



.secao3{
    display: flex;
    align-items: center;
    margin-inline: 100px
     
    
}
.doLado{
 display: flex;

 
 

}
.livinho{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.luisa{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}